// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #5ca2e9;
$secondary : #c1dcf7;
$accent    : #9C27B0;
$accentBorder: #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #e8affa;
$infoBorder: #1a588f;
$warning   : #F2C037;

$main       : #deecfa;
$sub        : #D6E6F2;
$third      : #303841;
